{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true
    },
    "target": "es2017",
    "transform": {
      "decoratorMetadata": true
    }
  },
  "module": {
    "type": "commonjs",  // Ensures ES module output (import/export)
    "strict": false  // Enforce strict module resolution
  },
  "sourceMaps": true,  // Enables source maps
  "minify": true // Optional, if you want to minify the code
}
